@font-face{
    src :url(../fonts/Righteous-Regular.ttf);
    font-family: Righteous;
}

@font-face{
    src:url(../fonts/Roboto-Regular.ttf);
    font-family: Roboto;
}

body{
    background: #E5E5E5;
    min-width: 350px;
}


.topo{
width: 100%;
background-color: #CF2B2B;
display :flex;
flex-direction: column;
height: 92px;
align-items: flex-start;
justify-content: center;
box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
position: fixed;
top: 0px;
z-index: 1;
}
.topo h1{
    font-size: 44px;
    font-family: Righteous;
    color: white;
    margin-left: 20px;
    
}

.topo p{
    font-size: 18px;
    color: white;
    font-family: Roboto;
    margin-left: 20px;
}


/*------------------Conteudo principal----
---------------------------------------------*/
.primeiro-h2{
     margin-top: 125px;
    
    /*margin-top: 123px; altura do topo fixado + margin ao topo
    margin-left: 20px;
    margin-bottom: 17px;*/
}


.bordinha{
    border: 5px solid green;
}

.check{
    position: absolute;
    bottom: 5px;
    right: 5px;
    /*border: 1px solid blueviolet;*/
    color: #32B72F;
    width: 25px;
    height: 25px;
}

h2{
    font-size: 26px;
    font-family: Righteous;
    color: black;
    margin: 30px 0 17px 20px;
    }


ul{
    display: flex;
    overflow-x: scroll;
    width: 95%;
    
}

li{
    width: 172px;
    height: 216px;
    background-color: white;
    border-radius: 9px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 172px;
    position: relative;
    }

li:first-child{
    margin-left: 20px;
}

/*
.start{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

}

*/

img{
    width: 144px;
    height: 87px;
    border-radius: 4px;

}

h3,h4{
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

li p{
    font-size: 15px;
    color: #A6A6A6;
    width: 147px;
    height: 39px;
    margin-bottom: 5px;
    font-weight: 300;
}

.ultima-lista{
    margin-bottom: 108px; /*16 + 92 do botao fixed embaixo*/
    
}


/*--------------------------------Botão de enviar---
-------------------------------*/

.container-botao{
    width: 100%;
    height: 92px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;

}

.concluir-pedido{
    width: 95%;
    height: 61px;
    border-radius: 50px;
    background: #CBCBCB;
    border: none;
    color: white;
    font-size: 20px;
}

.estilo-link{
    
    height: 61px;
}

.concluir-pedido span{
    width: 196px;
    height: 40px;
    font-size: 20px;

}

/*----------------Classes do js------*/

.esconder{
    display: none;
}

.botaoverde{
    background-color: #32B72F;
    font-size: 20px;
}

.branco{
   width: 100%;
   position: fixed;
   top: 0;
   background: rgba(255, 255, 255,0.9);
   bottom: 0;
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:Roboto;
}

.confirmar-pedido{
    width: 377px;
    height: 353px;
    background:  #50D074;
    display: flex;
    align-items:  center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    
}

.confirmar-pedido h2{
    font-family:Roboto;
    font-size: 22px;
    color: white;
    
    
}

.textos-confirmacao{
    
    height: 27px;
    font-size: 22px;
    color: white;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    width: 325px;
}

.textos-confirmacao.primeiro{
    margin-top :20px;
}

.cancelar{
    font-size: 22px;
    color: white;
    margin-top: 5px;
}

.tudocerto{
    background: white;
    color:#50D074;
    font-size: 22px;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    border: none;
    font-family: Roboto;
    margin-bottom: 20px;
    
}